<h2><%= article.title %></h2>

<div>
    content: <%= article.content %>
</div>

<div>
    is Published: <%= article.isPublished %>
</div>



<div>
    total Words: <%= article.totalWords %>
</div>

<div>
    author: <%= article.author %>
</div>